<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jb Fashion - Settings</title>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/pages.css">
</head>
<body>
    <div class="main">
        <div class="side-nav">
            <div class="logo">
                <img src="./static/logos/white-transparent.png" alt="jb-logo">
            </div>
            <div class="navbar">
                <div class="navbar-item">
                    <a href="/">
                        <i class="material-icons">home</i>
                        <span>home</span>
                    </a>
                </div>
                <div class="navbar-item">
                    <a href="/customers">
                        <i class="material-icons">groups</i>
                        <span>Customers</span>
                    </a>
                </div>
                <div class="navbar-item">
                    <a href="/orders">
                        <i class="material-icons">shopping_cart</i>
                        <span>Orders</span>
                    </a>
                </div>
                <div class="navbar-item active">
                    <a href="/settings">
                        <i class="material-icons">person_add</i>
                        <span>Settings</span>
                    </a>
                </div>
                <div class="navbar-item spacer"></div>
                <div class="navbar-item">
                    <a href="/logout">
                        <i class="material-icons">logout</i>
                        <span>logout</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="content">
            <header>
                <h1 class="spacer">Settings</h1>
                {% if session["name"] == "admin" %}
                    <button id="openDialogBtn">
                        <i class="material-icons">add</i>
                        Add User
                    </button>
                {% endif %}
            </header>
            <main>
                <dialog id="dialog">
                    <form onsubmit="submitForm(event, this)">
                        <header>
                            <h2 class="spacer">Add User</h2>
                            <button autofocus onclick="closeDialog()">
                                <i class="material-icons">close</i>
                            </button>
                        </header>
                        <main>
                            <div class="form-entries">
                                <div class="input-container">
                                    <label>Username</label>
                                    <input type="text" name="username" placeholder="enter the username" required>
                                </div>
                                <div class="input-container">
                                    <label>Password</label>
                                    <input type="password" name="password" placeholder="enter the password" required>
                                </div>
                                <div class="input-container">
                                    <label>Confirm Password</label>
                                    <input type="password" name="confirm" placeholder="confirm the password" required>
                                </div>
                            </div>
                        </main>
                        <footer>
                            <button onclick="closeDialog()">
                                Close
                                <i class="material-icons">close</i>
                            </button>
                            <div class="spacer"></div>
                            <button type="submit" >
                                Submit
                            </button>
                        </footer>
                    </form>
                </dialog>
                <div class="table-container shadow-z-1">
                    {% if users|length == 0 %}
                        <div class="empty-banner">
                            <img src="./static/logos/png/empty-box.png" alt="empty-list">
                            <h3>Empty table</h3>
                            <span>No content to display</span>
                            {% if session["name"] == "admin" %}
                                <button onclick="openDialog()">
                                    <i class="material-icons">add</i>
                                    Add User
                                </button>
                            {% endif %}
                        </div>

                    {% elif users|length > 0 %}
                        <div class="table">
                            {% for user in users %}
                                <button class="accordion accordion_{{user.id}}">
                                    USERNAME: <span>{{user.username}}</span>
                                </button>
                                <div class="panel panel_{{user.id}}">
                                    <form onsubmit="editUserForm(event, this, '{{ user.id }}', '{{user.username}}')">
                                        <div class="form-inner edit-form_{{user.id}}">
                                            <div class="info">
                                                <div class="display">
                                                    <i class="material-icons">text_fields</i>
                                                    <label>Password</label>
                                                </div>
                                                <input type="password" name="password" value="{{user["password"]}}" disabled></input>
                                            </div>
                                            <div class="info confirm-password_{{user.id}} hide">
                                                <div class="display">
                                                    <i class="material-icons">text_fields</i>
                                                    <label>Confirm Password</label>
                                                </div>
                                                <input type="password" name="confirm" value="{{user["password"]}}" disabled></input>
                                            </div>
                                        </div>
                                        <div class="buttons buttons_{{user.id}}">
                                            <div class="spacer"></div>
                                            {% if session["name"] == "admin" %}
                                                <button class="delete" onclick="deleteUser(event, '{{ user.id }}')">Delete</button>
                                            {% endif %}
                                            <button class="edit show" onclick="enableEdit(event, '{{ user.id }}')">Enable Edit</button>
                                            <button type="submit" class="save hide">
                                                Save
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>
                            Unable to retrieve orders from the database. This is due to: {{message}}
                        </p>
                    {% endif %}
                </div>
            </main>
        </div>
    </div>

    <script src="./static/scripts/setting.js"></script>
</body>
</html>