/*------------NAVIGATION MENU ------------*/
body #nav-menu.nav_menu{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0.2em;

}
.nav_grid {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-left: -9em;
    background-color:#3498DB;;
    width: 1815px;
}
.nav_item, a{
  margin-top: 0.5em;
}

a{
    text-decoration: none;
    color:white;

}
/*------------- MAIN CONTAINER ----------*/

.main_section, h1{
    font-size: 20px;
   margin-left: 120px;
}

.p-2, img{
    margin-left: 105px;
}


/*--------------- FOOTER ---------------*/
footer{
    position: absolute;
    bottom: 0;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 70px;
}
/*----------- CONTACT AND INFORMATION SECTION -------------*/
h2{
    padding-left: 180px;
    font: 16px;
}
.info-lists, .item1, .item2, .item3{
    height: 1.8em;
    font: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 90px;
    list-style: none;
}
/*------------ ABOUT-ME AND LISTS OF INFORMATION--------------------*/
.detail-1{
  padding-left: 100px;
  font-size: 25px;
}

.para-1, .list_section{
  padding-left: 215px;
  list-style: none;
  font-size: 20px;

}


/*------------------ HOBBIES -------------*/
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
/*------------- FOOTBALL -------*/
.tab-list{
  padding-left: 50px;
}