/*------------NAVIGATION MENU ------------*/
body #nav-menu.nav_menu{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.nav_grid {
    display: flex;
    word-spacing: 9cm;
    list-style-type: none;
    margin-left: -9em;
    background-color:cornflowerblue;
    width: 1815px;
}
a{
    text-decoration: none;
    color:white;
    letter-spacing: 2px;
}
/*------------- MAIN CONTAINER ----------*/

.main_section{
    font-size: 20px;
    margin: 3em;
}

/*--------------- FOOTER ---------------*/
footer{
    position: absolute;
    bottom: 0;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 70px;
}
/*----------- CONTACT PAGE AND INFORMATION SECTION-------------*/
h2{
    padding-left: 220px;
}
.item1{
    height: 1.8em;
    font: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.item2{
    margin-top: -0.2em;
    height: 1.5em;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.item3{
    font: 20px;
    font-family: 'Times New Roman', Times, serif;

}

