body #nav-menu.nav_menu{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav_grid {
    display: flex;
    list-style-type: none;
    margin-left: -9em;
    background-color:cornflowerblue;
    letter-spacing: 2px;
    width: 1815px;
}
a{
    text-decoration: none;
    color:white;
    letter-spacing: 2px;
}

.main_section{
    font
}

