{% extends "layout.html" %}

{% block title %}
    Add cah
{% endblock %}

{% block main %}
    <h1>Buy</h1>
    <form action="/add_cash" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto"  name="add_cash" placeholder="Symbol" type="new_cash">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto"  name="shares" placeholder="Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Add_cash</button>
    </form>
{% endblock %}